extends layout

block head
  title
    | Tabcast history for group #{group}
    if username
      |  for user #{username}

block body
  div.hero-unit
    h1 Tabcast history
    p
      | All URLs sent to the 
      a(href='/view/#{group}') #{group}
      |  group
      if username
        |  by user
        a(href='/view/#{group}/?username=#{username}')  #{username}
  div
    if urls.length
      ul#urls.unstyled
        for url in urls
          li.url
            a(href='#{url.url}') #{url.url}
            br
            | From 
            a(href='/view/#{group}/?username=#{url.username}') #{url.username} 
            | at #{url.date}
    else
      | no urls

block footer
  script(src='/js/socket.io.min.js')
  script(src='/js/mustache.js')
  script(src='/js/jquery-1.8.2.min.js')
  script(src='/js/client.js')
  script
    $(document).ready(function(){
      TC.init('#{host}', '#{group}', '#{username}');
    });
